<p><strong>Autor</strong>: <%= author.name %></p>
<p><img class="img-author" src="<%= author.pathImgAuthor %>" alt="Foto del autor" title="foto del autor"/></p>
<p><a href="/" title="Volver a la página principal">Volver</a></p>